@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #FAF7F2;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;          
  display: flex;
  justify-content: center;

  
}
.hero img {
  width: 100%;
  max-width: 1920px;
  aspect-ratio: 16 / 9;
  height: auto;
  
  display: block;
}


.hero-content {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.hero-title {
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
}

.hero-subtitle {
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  color: #FDC913;
  
}

.hero h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 86px;
  font-weight: 300;
  margin: 24px 0;
  text-transform: uppercase;
  margin-top: -20px;
}

.primary-btn {
  background-color: #FDC913;
  border: none;
  border-radius: 30px;
  padding: 12px 36px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: -20px;
}

/* CATEGORY BAR */
.category-bar {
  background-color: white;
  max-width: 1920px;   
  margin: 0 auto;      
}
.category-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 16px 32px;
  font-size: 20px;
}


.category-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.category-list img {
  width: 40px;
}

/* PROMO */
.promo-section {
  padding: 80px 0;
}

.promo-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 531px 1fr;
  gap: 24px;
}
.promo-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.promo-card.pizza {
  width: 100%;
  max-width: 531px;
  height: auto;
  aspect-ratio: 531 / 449;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  
}
.promo-card.pizza .promo-content {
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 2;
  color: white;
}
.promo-card.pizza h2 {
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 72px;
  margin: 0 0 16px 0;
}
.promo-card.pizza p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26.76px;
  margin: 0 0 24px 0;
}
.promo-card.pizza button {
  width: 138px;
  height: 48px;
  border-radius: 50px;
  background-color: white;
  color: #D62828;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.promo-card.pizza img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.promo-card.burger {
  position: relative;
  height: 212px;
  border-radius: 12px;
  overflow: hidden;
  padding: 18px; 
  background-image: url("images/iteration-2-images/cta/kart-2.png");
  background-size: cover;
  background-position: center right;
}


.promo-card.burger h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white;
  max-width: 220px;
  margin-bottom: 16px;
}
.promo-card.burger button {
  background-color: white;
  color: #D62828;
  border: none;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  cursor: pointer;
}
.promo-card.burger img {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 170px;
  
}
.promo-card.courier {
  position: relative;
  height: 212px;
  border-radius: 12px;
  overflow: hidden;

  background-image: url("images/iteration-2-images/cta/kart-3.png");
  background-size: cover;
  background-position: center right;
  padding: 18px;
}

.promo-card.courier p {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #2F2F2F;
  max-width: 260px;
  margin-bottom: 16px;
}

.promo-card.courier p span {
  color: #D62828;
}

.promo-card.courier button {
  background-color: white;
  color: #D62828;
  border: none;
  border-radius: 50px;
  padding: 10px 24px;
  font-weight: 600;
  cursor: pointer;
}
.promo-card.courier img {
  position: absolute;
  right: 24px;
  bottom: 0;
  width: 200px;
}

.promo-content {
  z-index: 2;
}
.promo-card img {
  object-fit: contain;
}

/* POPULERR */
.popular-section {
  text-align: center;
  margin: 5px auto 0;
}
.popular-subtitle {
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  line-height: 44.27px;
  color: #CE2829;
  margin-bottom: 8px;
}
.popular-title {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  color: #292929;
  margin-bottom: 40px;
}
.popular-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
.popular-item {
  display: flex;
  align-items: center;
  gap: 15px;

  width: 170px;
  height: 66px;

  padding: 12px 20px;
  border-radius: 50px;
  background-color: #FFFFFF;

  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #292929;

  cursor: pointer;
}
.popular-item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.popular-item.active {
  background-color: #292929;
  color: #FFFFFF;
}

/* PRODUCTS_SECTİON*/

.products-section {
  margin: 48px auto 0;
  padding: 18px;
}
.products-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.product-card {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}
.product-card img {
  width: 100%;
  max-width: 220px;
  height: auto;
  margin: 0 auto 16px;
  display: block;
}
.product-card h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #292929;
  margin-bottom: 12px;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #292929;
}
.count {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  color: #999999;
}
.price {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #292929;
}
.footer {
  background-color: #181818;
  color: white;
  padding: 60px 0 0;
}
.footer-content {
  max-width: 1920px;   
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 40px;
}
.footer-left h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-info li {
  display: flex;
  gap: 12px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  color: #f1f1f1;
}
.footer-info img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer-menu h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  line-height: 32px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  color: #dddddd;
}
.footer-instagram h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.insta-grid img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}
.footer-bottom {
  max-width: 1100px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbbbbb;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  padding-bottom: 32px;
}

.footer-bottom i {
  width: 18px;
  height: 18px;
  align-items: center;
}

.footer-line {
  border: none;
  border-top: 1px solid #333;
  width: 100%;
  margin: 40px 0 20px;
}

/* ==== MOBİL ==== */
@media (max-width: 480px) {

   html, body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* HERO */
  .hero {
    height: 680px;
    background-color: #D62828;
    position: relative;
    overflow: hidden;
  }

  .hero > img {
    display: none;
  }

  /* PIZZA */
  .hero::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -200px;
    transform: translateX(-50%) rotate(180deg);

    width: 520px;
    height: 520px;

    background-image: url("images/iteration-2-images/pictures/form-banner.png");
    background-size: cover;
    background-position: center;

    z-index: 1;
  }

  
  .hero-content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    z-index: 3;
  }

  .hero-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .hero-subtitle {
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    color: #FDC913;
    margin-bottom: 18px;
  }

  .hero h1 {
    font-size: 44px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 2px;

    white-space: pre-line;
    text-align: center;

    width: 300px;
    margin: 0 auto 30px auto;

    text-transform: uppercase;
  }

  .primary-btn {
    background-color: #FDC913;
    border: none;
    border-radius: 999px;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    margin-top: 8px;
  }

  .category-bar {
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px 0 24px;
  }

  .category-list {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 8px;
    margin-left: 25px;
  }

  .category-list li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
  }

  .category-list img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    display: block;
  }
}

@media (max-width: 480px) {
  .popular-section {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
  }

  .popular-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 8px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;
    max-width: 320px;
  }

  .popular-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 6px 14px;
    border-radius: 999px;
    background: #FFF;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .popular-item.active {
    background: #2E2E2E;
    color: #FFF;
  }

  .popular-item img {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }

  .promo-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 12px;
  }

  .promo-card {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
  }

  .promo-card img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    display: block;
    align-items: center;
  }
  .promo-card.pizza {
      max-width: 360px;
      width: 100%;
      aspect-ratio: 531 / 449;
      height: 350px;
      margin: 0 auto; /* ortaya alır */
    }

    .promo-card.pizza img {
      object-fit: cover;
    }
      .promo-card.burger {
      height: 150px;
    }
}
@media (max-width: 480px) {

  
  .products-grid {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
  }

  .product-card {
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px 0 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-card img {
    width: 75%;
    max-width: 260px;
    margin: 0 auto 16px;
    display: block;
    object-fit: contain;
  }

  .product-card h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .product-info {
    display: flex;
    justify-content: center;
    gap: 14px;
    font-size: 14px;
    color: #333;
  }

  .price {
    font-weight: 700;
    font-size: 16px;
  }

}

@media (max-width: 480px) {
  
  .footer {
    width: 100%;
    padding: 32px 20px 40px;
    box-sizing: border-box;
  }

  
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    gap: 28px;
  }

  
  .footer-left h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
  }

  .footer-info li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .footer-info img {
    width: 18px;
    height: 18px;
  }

  .footer-menu h4,
  .footer-instagram h4 {
    font-size: 18px;
    margin-bottom: 8px;
    color: white;
  }

  .footer-menu ul li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
  }

 
  .insta-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
  }

  .insta-grid img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
  }

  .footer-bottom {
    width: 100%;
    max-width: 350px;
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .footer-line {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-color: rgba(255,255,255,0.3);
  }
}

html, body, #root {
  height: 100%;
}

#root {
  transform: none !important;
  zoom: 1 !important;
  font-size: 16px !important;
}

